PRIVATE_KEY=
ARC_RPC=https://rpc.testnet.arc.network
KEEPER_ADDRESS=
# VAULT_ADDRESS=
# EULER_STRATEGY_ADDRESS=
# DEPLOY_IDLE=false
# OWNER_PRIVATE_KEY=
# NEW_STRATEGY_ADDRESS=
# YIELD_RESERVE_USDC=10
# INITIAL_DEPOSIT_USDC=10
